* {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("background.jpg");
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.container {
    position: relative;
}

.box-center {
    width: 310px;
    height: 535px;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    box-shadow: inset 0 0 0 100vh rgba(255, 255, 255, 0.1);
    border-radius: 2vh;
}

.box-under-nav-1 {
    width: 99px;
    height: 56px;
    overflow: auto;
    margin: auto;
    top: 600px;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    box-shadow: inset 0 0 0 100vh rgba(255, 255, 255, 0.1);
    border-radius: 1vh;
}

.fixed {
    position: fixed;
    z-index: 999;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: contain;
    background-image: url(https://avatars.githubusercontent.com/u/90932569);
}

.accounts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin: auto;
    width: 50%;
}

.account {
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    height: 30px;
}

.button {
    border: none;
    color: rgb(194, 194, 194);
    padding: 14px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}