* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("background.jpg");
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.container {
    position: relative;
}

.box {
    content: '';
    width: 35vh;
    height: 45vh;
    box-shadow: inset 0 0 0 100vh rgba(255, 255, 255, 0.1);
    border-radius: 2vh;
    position: absolute;
    top: 50vh;
    left: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-size: contain;
    background-image: url(https://avatars.githubusercontent.com/u/90932569);
}

.accounts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vh;
    margin: auto;
    width: 50%;
}

.account {
    margin-top: 1vh;
    margin-bottom: 1vh;
}